<h1>Aktieöversikt 2017-12-31</h1>

<h2>Aktier</h2>
<!-- <table class="table">
  <thead>
    <tr>
      <th class="table-cell--left">Namn</th>
      <th class="table-cell--left">Ticker</th>
      <th class="table-cell--left">Bransch</th>    
      <th class="table-cell--right">Handlades för</th>
      <th class="table-cell--right">Antal</th>
      <th class="table-cell--right">Totalkostnad</th>
      <th class="table-cell--right">Nuvarande pris</th>
      <th class="table-cell--right">Totalvärde</th>
      <th class="table-cell--right">Avkastning</th>
      <th class="table-cell--left">Börs</th>
      <th class="table-cell--right">Utdelning (inköp)</th>
      <th class="table-cell--right">Utdelning (aktuellt)</th>      
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stock of stocks; let even = even; let odd = odd"
      [ngClass]="{ odd: odd, even: even }">
      <td>{{stock.name}}</td>
      <td>{{stock.ticker}}</td>
      <td>{{stock.industry}}</td>
      <td class="table-cell--right">{{stock.boughtFor}} kr</td>
      <td class="table-cell--right">{{stock.amount}}</td>
      <td class="table-cell--right">{{stock.boughtFor * stock.amount | number}} kr</td>
      <td class="table-cell--right">{{stock.currentPrice}} kr</td>
      <td class="table-cell--right">{{stock.currentPrice * stock.amount | number}} kr</td>
      <td class="table-cell--right">{{((stock.currentPrice * stock.amount) / (stock.boughtFor * stock.amount)) - 1 | percent }}</td>
      <td>{{stock.stockMarket}}</td>
      <td class="table-cell--right">{{stock.dividend / stock.boughtFor | percent}}</td>
      <td class="table-cell--right">{{stock.dividend / stock.currentPrice | percent}}</td>      
    </tr>
  </tbody>
</table> -->

<!-- Jonatan testar sortering av tabell -->
<data-table id="stock-grid"
  headerTitle="Aktier"
  [items]="items"
  [itemCount]="itemCount"
  (reload)="reloadItems($event)"

  [limit]="itemCount"
  [indexColumn]="false"

  (rowClick)="rowClick($event)"
  (rowDoubleClick)="rowDoubleClick($event)"
  class="sw-table-wrapper">

  <data-table-column
    [property]="'name'"
    [header]="'Namn'"
    [sortable]="true"
    [resizable]="true">
  </data-table-column>
  <data-table-column
    [property]="'ticker'"
    [header]="'Ticker'"
    [sortable]="true"
    [resizable]="true">
  </data-table-column>
  <data-table-column
    [property]="'industry'"
    [header]="'Bransch'"
    [sortable]="true"
    [resizable]="true">
  </data-table-column>
  <data-table-column
    [property]="'boughtFor'"
    [header]="'Handlades för'"
    [sortable]="true"
    [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      <div class="table-cell--right"> {{item.boughtFor | number}} kr </div>
    </ng-template>
  </data-table-column>
  <data-table-column
    [property]="'amount'"
    [header]="'Antal'"
    [sortable]="true"
    [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      <div class="table-cell--right"> {{item.amount | number}} </div>
    </ng-template>
  </data-table-column>
  <data-table-column
    [property]="'totalCost'"
    [header]="'Totalkostnad'"
    [sortable]="true"
    [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      <div class="table-cell--right"> {{item.totalCost | number}} kr </div>
    </ng-template>
  </data-table-column>
  <data-table-column
    [property]="'currentPrice'"
    [header]="'Nuvarande pris'"
    [sortable]="true"
    [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      <div class="table-cell--right"> {{item.currentPrice | number}} kr </div>
    </ng-template>
  </data-table-column>
  <data-table-column
    [property]="'totalValue'"
    [header]="'Totalvärde'"
    [sortable]="true"
    [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      <div class="table-cell--right"> {{item.totalValue | number}} kr </div>
    </ng-template>
  </data-table-column>
  <data-table-column
    [property]="'yield'"
    [header]="'Avkastning'"
    [sortable]="true"
    [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      <div class="table-cell--right"> {{item.yield | percent}} </div>
    </ng-template>
  </data-table-column>
  <data-table-column
    [property]="'stockMarket'"
    [header]="'Börs'"
    [sortable]="true"
    [resizable]="true">
  </data-table-column>
  <data-table-column
    [property]="'dividendCost'"
    [header]="'Utdelning (inköp)'"
    [sortable]="true"
    [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      <div class="table-cell--right"> {{item.dividendCost | percent}} </div>
    </ng-template>
  </data-table-column>
  <data-table-column
    [property]="'dividendValue'"
    [header]="'Utdelning (aktuellt)'"
    [sortable]="true"
    [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      <div class="table-cell--right"> {{item.dividendValue | percent}} </div>
    </ng-template>
  </data-table-column>
</data-table>

<data-table id="industry-grid"
  headerTitle="Branschöversikt"
  [items]="industryitems"
  [itemCount]="industryCount"
  (reload)="reloadIndustries($event)"

  [limit]="industryCount"
  [indexColumn]="false"

  (rowClick)="rowClickIndustry($event)"
  (rowDoubleClick)="rowDoubleClickIndustry($event)"
  class="sw-table-wrapper">

  <data-table-column
    [property]="'name'"
    [header]="'Namn'"
    [sortable]="true"
    [resizable]="true">
  </data-table-column>
  <data-table-column
    [property]="'totalCost'"
    [header]="'Totalkostnad'"
    [sortable]="true"
    [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      <div class="table-cell--right"> {{item.totalCost | number}} kr</div>
    </ng-template>
  </data-table-column>
  <data-table-column
    [property]="'totalValue'"
    [header]="'Nuvarande värde'"
    [sortable]="true"
    [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      <div class="table-cell--right"> {{item.totalValue | number}} kr </div>
    </ng-template>
  </data-table-column>
  <data-table-column
    [property]="'yield'"
    [header]="'Avkastning'"
    [sortable]="true"
    [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      <div class="table-cell--right"> {{item.yield | percent}} </div>
    </ng-template>
  </data-table-column>
  <data-table-column
    [property]="'amount'"
    [header]="'Antal bolag'"
    [sortable]="true"
    [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      <div class="table-cell--right"> {{item.amount | number}} </div>
    </ng-template>
  </data-table-column>
  <data-table-column
    [property]="'portion'"
    [header]="'Andel nuvarande värde'"
    [sortable]="true"
    [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      <div class="table-cell--right"> {{item.portion | percent}} </div>
    </ng-template>
  </data-table-column>
</data-table>


<!-- <h2>Branschöversikt</h2>
<table class="table">
  <thead>
    <tr>
      <th class="table-cell--left">Bransch</th>
      <th class="table-cell--right">Totalkostnad</th>
      <th class="table-cell--right">Nuvarande värde</th>
      <th class="table-cell--right">Avkastning</th>
      <th class="table-cell--right">Antal bolag</th>
      <th class="table-cell--right">Andel nuvarande värde</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Dagligvaror</td>
      <td class="table-cell--right">{{DagligvarorTotalCost | number}} kr</td>
      <td class="table-cell--right">{{DagligvarorTotalValue | number}} kr</td>
      <td class="table-cell--right">{{DagligvarorYield -1 | percent}}</td>
      <td class="table-cell--right">4</td>
      <td class="table-cell--right">{{DagligvarorPortion | percent}}</td>
    </tr>
    <tr>
      <td>Industrivaror & Tjänster</td>
      <td class="table-cell--right">{{IndustrivarorTotalCost | number}} kr</td>
      <td class="table-cell--right">{{IndustrivarorTotalValue | number}} kr</td>
      <td class="table-cell--right">{{IndustrivarorYield -1 | percent}}</td>      
      <td class="table-cell--right">3</td>
      <td class="table-cell--right">{{IndustrivarorPortion | percent}}</td>
    </tr>
    <tr>
      <td>Informationsteknik</td>
      <td class="table-cell--right">{{InformationsteknikTotalCost | number}} kr</td>
      <td class="table-cell--right">{{InformationsteknikTotalValue | number}} kr</td>
      <td class="table-cell--right">{{InformationsteknikYield -1 | percent}}</td>      
      <td class="table-cell--right">2</td>
      <td class="table-cell--right">{{InformationsteknikPortion | percent}}</td>
    </tr>
    <tr>
      <td>Material</td>
      <td class="table-cell--right">{{MaterialTotalCost | number}} kr</td>
      <td class="table-cell--right">{{MaterialTotalValue | number}} kr</td>
      <td class="table-cell--right">{{MaterialYield -1 | percent}}</td>      
      <td class="table-cell--right">1</td>
      <td class="table-cell--right">{{MaterialPortion | percent}}</td>
    </tr>
    <tr>
      <td>Sällanköpvaror & tjänster</td>
      <td class="table-cell--right">{{SallankopTotalCost | number}} kr</td>
      <td class="table-cell--right">{{SallankopTotalValue | number}} kr</td>
      <td class="table-cell--right">{{SallankopYield -1 | percent}}</td>      
      <td class="table-cell--right">2</td>
      <td class="table-cell--right">{{SallankopPortion | percent}}</td>
    </tr>
    <tr>
      <td>Finans & Fastighet</td>
      <td class="table-cell--right">{{FinansFastighetTotalCost | number}} kr</td>
      <td class="table-cell--right">{{FinansFastighetTotalValue | number}} kr</td>
      <td class="table-cell--right">{{FinansFastighetYield -1 | percent}}</td>      
      <td class="table-cell--right">2</td>
      <td class="table-cell--right">{{FinansFastighetPortion | percent}}</td>
    </tr>
    <tr>
      <td>Telekomoperatörer</td>
      <td class="table-cell--right">{{TelekomTotalCost | number}} kr</td>
      <td class="table-cell--right">{{TelekomTotalValue | number}} kr</td>
      <td class="table-cell--right">{{TelekomYield -1 | percent}}</td>      
      <td class="table-cell--right">1</td>
      <td class="table-cell--right">{{TelekomPortion | percent}}</td>
    </tr>
    <tr>
      <td>Energi</td>
      <td class="table-cell--right">0 kr</td>
      <td class="table-cell--right">0 kr</td>
      <td class="table-cell--right">{{0 | percent}}</td>      
      <td class="table-cell--right">0</td>
      <td class="table-cell--right">{{EnergiPortion | percent}}</td>
    </tr>
    <tr>
      <td>Hälsovård</td>
      <td class="table-cell--right">0 kr</td>
      <td class="table-cell--right">0 kr</td>
      <td class="table-cell--right">{{0 | percent}}</td>      
      <td class="table-cell--right">0</td>
      <td class="table-cell--right">{{HalsaPortion | percent}}</td>
    </tr>
    <tr>
      <td>Okänd</td>
      <td class="table-cell--right">{{OvrigtTotalCost | number}} kr</td>
      <td class="table-cell--right">{{OvrigtTotalValue | number}} kr</td>
      <td class="table-cell--right">{{OvrigtYield -1 | percent}}</td>      
      <td class="table-cell--right">4</td>
      <td class="table-cell--right">{{OvrigtPortion | percent}}</td>
    </tr>
  </tbody>
</table> -->

<section class="row">
  <div class="col-sm-8 col-xs-12">
    <div class="box">
      <table class="table">
        <thead>
          <tr>
            <th class="table-cell--right">Totalkostnad</th>
            <th class="table-cell--right">Totalvärde</th>
            <th class="table-cell--right">Avkastning</th>
            <th class="table-cell--right">Utdelning (inköp)</th>
            <th class="table-cell--right">Utdelning (aktuellt)</th>            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table-cell--right">{{totalCost | number}} kr</td>
            <td class="table-cell--right">{{totalValue | number}} kr</td>
            <td class="table-cell--right">{{yield | percent}}</td>
            <td class="table-cell--right">{{totalDividendCost | percent}}</td>
            <td class="table-cell--right">{{totalDividendValue | percent}}</td>            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12 graybox">
    <div class="box">
      <h3>Regler</h3>
      <ul>
        <li>10-20 % utländska bolag</li>
        <li>80 % av värdet ska ge direktavkastning</li>
        <li>Undvik onödigt courtage. Handla t.ex. inte små poster på Nordic MTF</li>
      </ul>
    </div>
  </div>
</section>

<!-- <section class="container">
  <table class="left">
    <thead>
      <tr>
        <th class="table-cell--right">Totalkostnad</th>
        <th class="table-cell--right">Totalvärde</th>
        <th class="table-cell--right">Avkastning</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="table-cell--right">{{TotalCost | number}} kr</td>
        <td class="table-cell--right">{{TotalValue | number}} kr</td>
        <td class="table-cell--right">{{(TotalValue / TotalCost) - 1 | percent}}</td>
      </tr>
    </tbody>
  </table>
  <div class="right">
    <h3>Regler</h3>
    <ul>
      <li>10-20 % utländska bolag</li>
      <li>80 % av värdet ska ge direktavkastning</li>
      <li>Undvik onödigt courtage. Handla t.ex. inte små poster på Nordic MTF</li>
    </ul>
  </div>
</section> -->

<app-chart-component></app-chart-component>