<table>
  <tr>
    <th>Name</th>
    <th>Ticker</th>
    <th>Industry</th>    
    <th>Bought for</th>
    <th>Amount</th>
    <th>Total cost</th>
    <th>Current price</th>
    <th>Total value</th>
    <th>Yield</th>
    <th>Market</th>
    <th>Dividend</th>
  </tr>
  <tr>
    <td>{{Tesla.name}}</td>
    <td>{{Tesla.ticker}}</td>
    <td>{{Tesla.industry}}</td>
    <td>{{Tesla.boughtFor}}</td>
    <td>{{Tesla.amount}}</td>
    <td>{{Tesla.boughtFor}} * {{Tesla.amount}}</td>
    <td>{{Tesla.currentPrice}}</td>
    <td>{{Tesla.currentPrice}} * {{Tesla.amount}}</td>
    <td>({{Tesla.currentPrice}} * {{Tesla.amount}})/({{Tesla.boughtFor}} * {{Tesla.amount}})</td>
    <td>{{Tesla.stockMarket}}</td>
    <td>{{Tesla.dividend}}</td>
  </tr>
  <tr>
    <td>{{Amazon.name}}</td>
    <td>{{Amazon.ticker}}</td>
    <td>{{Amazon.industry}}</td>
    <td>{{Amazon.boughtFor}}</td>
    <td></td>
  </tr>
</table>

<br>
<p>Todays stock to buy: {{stockToBuy}}</p>

<app-chart-component></app-chart-component>

