<!-- <img (click)="clickEvent($event)" width="100%" src={{chartOne}}>
<img width="100%" src={{chartTwo}}> -->
<h2>Diagram</h2>
  
<div class="row">
    <div class="col-lg-6 col-xs-12">
      <button (click)="sortTotalCostStock()" id="totalCostStockSortButton">Sort</button>
      <div class="chart-container box" [chart]="totalCostChart"></div>
    </div>
    <div class="col-lg-6 col-xs-12">
      <button (click)="sortTotalValueStock()" id="totalValueStockSortButton">Sort</button>
      <div class="chart-container box" [chart]="totalValueChart"></div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <button (click)="sortTotalCostIndustry()" id="totalCostIndustrySortButton">Sort</button>
      <div class="chart-container box" [chart]="totalCostPerIndustryChart"></div>
    </div>
    <div class="col-lg-6 col-xs-12">
        <button (click)="sortTotalValueIndustry()" id="totalValueIndustrySortButton">Sort</button>
      <div class="chart-container box" [chart]="totalValuePerIndustryChart"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <div class="chart-container box" [chart]="totalCostPerStockMarket"></div>
    </div>
    <div class="col-lg-6 col-xs-12">
      <div class="chart-container box" [chart]="totalValuePerStockMarket"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <div class="chart-container box" [chart]="dividendPercentageChartByCode"></div>
    </div>
    <div class="col-lg-6 col-xs-12">
      <div class="chart-container box" [chart]="yearlyDividendSumShare"></div>
    </div>
  </div>