/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #3e4347;
}
h1 {
    text-align: center;
    color: #e8e8e8;
    margin-bottom: 25px;
}

h2 {
    text-align: center;
    color: #e8e8e8;
}

h4 {
    color: #e8e8e8;
    margin-top: 50px !important;
}

.page {
    margin: 50px 50px;
}

.table-cell--right {
    text-align: right;
}

.table-cell--left {
    text-align: left;
}

.table {
    width: 100%;
}
thead tr th {
    border-bottom: 2px solid #DDD;
    color: #e8e8e8;
}

tbody tr td {
    border-bottom: 1px solid #DDD;
    /*color: #e8e8e8;*/
}

.table th, .table td {
    padding: 4px 8px;
}

.white-text {
    color: #e8e8e8;
}

.odd {
    background-color: #FFFFFF;
}

.even {
    background-color: #efefef;
}

.row {
    margin-top: 50px;
}

.row-odd {
    background-color: #e8e8e8 !important;
}

.row-even {
    background-color: #c2c3c4;
}

.container {
    width: 100%;
    height: 200px;
    margin: 50px 0px;
    padding: 10px;
}

.graybox {
    background-color: #CFE2ED;
    padding: 0 15px 10px 15px;
}

.link {
    width: 100px;
    height: 25px;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #CFE2ED;
    padding: 8px 24px 8px 24px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 10px;
}

@media only screen and (max-width : 1024px)
{
    .page {
        width: 100%;
        height: 200px;
        margin: 10px 0px;
        padding: 10px;
    }
    .table {
        display: block;
        overflow-x: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

}